.container{
    margin-left: 13%;
}
h1{
    margin-top: 3%;
    font-size: 30px;
    font-weight: 420;
    margin-bottom: 1%;
    background: -webkit-linear-gradient(black, rgb(13, 120, 219));
  -webkit-background-clip: text;
   background-clip: text;
  -webkit-text-fill-color: transparent;
}
th{
    align-items: center;
    width: 500px;
}
.discount{
    margin-top: 1%;
    margin-left: 46%;
    margin-bottom: 2%;
    color: white;
}